
/** CODE goes here */

body {
    font-family: sans-serif;
}

button {
    max-width: 90%;
}

.input-panel {
    background-color: #CCCCCC7A;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-fields {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.input-panel label {
    display: flex;
    justify-content: space-between;
}

.input-panel label span {
    width: 60px;
}

.status-wrapper {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
}

.result-panel {
    background-color: #edffc1;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
 }

.result-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.control-panel {
    background-color: #cad0e8;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.check-boxes {
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
}

.check-boxes label {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

.check-boxes span {
    width: 100px;
}

.results {
    display: flex;
    flex-direction: column;
    padding:  10px;
    width: 90%;
}

.result-span {
    display: flex;
    flex-direction: column;
    padding:  10px;
}

.error {
    background-color: #ffc0c0;
    border: 3px solid red;
}

.ok {
    background-color: #c8ffc0;
    border: 3px solid #4aff02;
}





