
/** CODE goes here */

body {
    font-family: sans-serif;
}

label span {
    width: 75px;
}

.input-panel {
    background-color: #CCCCCC7A;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.input-fields {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.input-panel label {
    display: flex;
    justify-content: space-between;
}

.input-panel label span {
    width: 60px;
}

.check-boxes {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    justify-content: space-between;
}

.result-wrapper {
    background-color: #edffc1;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    width: 25%;
    height: 50px;
}

.control-panel {
    background-color: #cad0e8;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.error {
    background-color: #ffc0c0;
}

.ok {
    background-color: #c8ffc0;
}

.element-border {
    border: 3px solid red;
}
